<html>
    <head>
        <title>pirate chat ☠</title>
        <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            const socket = io("/chat");
            $(document).ready(function() {                    
                var conversation = {{ chat|tojson }}

                socket.on("connect", () => {
                    console.log(socket.id); // x8WIv7-mJelg7on_ALbx
                });
                
                socket.on("disconnect", () => {
                    console.log(socket.id); // undefined
                });
                
                socket.on('message', (data) => {
                    $('#chat').val($('#chat').val() + data[data.length - 1]['content'] + '\n\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);       
                    conversation = data;           
                });
                
                $('#text').keypress(function(e) {                                        
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#chat').val($('#chat').val() + text + '\n\n');
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                        $('#text').val('');
                        conversation = conversation.concat([{"role": "user", "content": text}])
                        socket.emit('question', conversation);
                    }
                });

            });
        
            function leave_room() {
                socket.disconnect();
            } 
        </script>
    </head>
    <body>
        <h1>pirate chat ☠</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="enter your chat here"><br><br>
        <a href="javascript:leave_room();">disconnect</a>
    </body>
</html>
